@define-color base-moon rgba(35, 33, 54, 0.70);
@define-color surface-moon rgba(42, 39, 63, 1);
@define-color overlay-moon rgba(57, 53, 82, 1);
@define-color muted-moon rgba(110, 106, 134, 1);
@define-color subtle-moon rgba(144, 140, 170, 1);
@define-color text-moon rgba(224, 222, 244, 1);
@define-color love-moon rgba(235, 111, 146, 1);
@define-color gold-moon rgba(246, 193, 119, 1);
@define-color rose-moon rgba(234, 154, 151, 1);
@define-color pine-moon rgba(62, 143, 176, 1);
@define-color foam-moon rgba(156, 207, 216, 1);
@define-color iris-moon rgba(196, 167, 231, 1);
@define-color highlight-low-moon rgba(42, 40, 62, 1);
@define-color highlight-med-moon rgba(68, 65, 90, 0.85);
@define-color highlight-high-moon rgba(86, 82, 110, 1);

* {
    text-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "Segoe UI", "Ubuntu";
    font-weight: 400;
    font-size: 12px;
}

window#waybar {
    background: /* @base-moon */ transparent;
    /* border-bottom: 1px solid @highlight-high-moon; */
    color: @text_moon;
}

tooltip {
    background: @surface-moon;
    border-radius: 15px;
    border: 1.5px solid @highlight-med-moon;
}

tooltip label {
    margin: 2px;
    color: @text-moon;
}

.modules-right {
    border: 1.5px solid @highlight-med-moon;
    background: @base-moon ;
    margin: 4px;
    border-radius: 12.5px;
    padding: 4px;
    min-width: 0px;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#custom-os_button {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 20px;
    border-radius: 15px;
    margin: 0 0px;
    padding-left: 4px;
    padding-right: 12px;
    color: @pine-moon;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#custom-os_button:hover {
    background: @overlay-moon;
    color: @text-moon;
}

.modules-right {
    border: 1.5px solid @highlight-med-moon;
    background: @base-moon ;
    margin: 4px;
    border-radius: 12.5px;
    padding: 4px;
    min-width: 0px;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#clock {
    color: @foam-moon;
    font-weight: 800;
    padding-right: 8px;
    padding-left: 8px;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#workspaces {
    /* min-width: 70px; */
    /* padding: 1px; */
    color: transparent;
    margin-right: 1.5px;
    margin-left: 1.5px;
}

#workspaces button {
    border-radius: 25px;
    padding: 0px;
    color: @subtle-moon;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#workspaces button.active {
    color: @rose-moon;
    /* border-top: 3px solid white; */
}

#workspaces button.focused {
    color: @text-moon;
}

#workspaces button.urgent {
    background: @rose-moon;
    /* border-bottom: 3px dashed @warning_color; */
    color: @gold-moon;
}

#workspaces button:hover {
    background: @overlay-moon;
    color: @iris-moon;
}

.modules-center {
    border: 1.5px solid @highlight-med-moon;
    background: @base-moon ;
    margin: 4px;
    border-radius: 12.5px;
    padding: 4px;
    min-width: 0px;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#taskbar {}

#taskbar button {
    min-width: 80px;
    min-height: 15px;
    margin: 0px;
    border-radius: 25px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 8px;
    padding-right: 8px;
    color: @text-moon;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#taskbar button.active {
    /* border-top: 1px solid white; */
    background: @overlay-moon;
    color: @foam-moon;
}

#taskbar button:hover {
    /* border-top: 3px solid white; */
    background: @surface-moon;
    color: @iris-moon;
}

.modules-left {
    border: 1.5px solid @highlight-med-moon;
    background: @base-moon ;
    margin: 4px;
    border-radius: 12.5px;
    padding: 4px;
    min-width: 0px;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#cpu,
#disk,
#memory {
    padding: 3px;
}

#temperature {
    color: transparent;
    font-size: 0px;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#temperature.critical {
    padding-right: 3px;
    color: @love-moon;
    font-size: initial;
    border-bottom: 3px dashed @love-moon;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#window {
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#tray {
    margin-left: 5px;
    margin-right: 5px;
}

#tray>.passive {
    border-bottom: none;
}

#tray>.active {
    border-bottom: 3px solid white;
}

#tray>.needs-attention {
    border-bottom: 3px solid @love-moon;
}

#tray>widget {
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#tray>widget:hover {
    background: @bg_hover;
}

#pulseaudio {
    font-family: "JetBrainsMono Nerd Font";
    padding-left: 3px;
    padding-right: 3px;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#pulseaudio:hover {
    background: @surface-moon;
}

#network {
    padding-left: 3px;
    padding-right: 3px;
}

#language {
    padding-left: 5px;
    padding-right: 5px;
}
/* #clock:hover {
    background: @bg_hover;
} */